.row
  %h5.center-align.card-title 
    Lista de Ejercicios
    %small
      (
      =params[:muscle]
      )
  %table.highlight.centered
    - @exercises.each do |exercise|
      %tr
        %td.no-padding
          = link_to exercise.descrizione, exercise, {class: 'display-block padding-td '}
